[submodule "src/third_party/rtabmap"]
	path = src/third_party/rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "src/third_party/rtabmap_ros"]
	path = src/third_party/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
	branch = ros2
[submodule "src/third_party/perception_pcl"]
    path = src/third_party/perception_pcl
    url = https://github.com/ros-perception/perception_pcl
    branch = 2.6.2

